//<script type="text/jsx">

    function FormRegistroProducto() {

        const guardarFormulario = (datosFormulario) => {
            console.log(datosFormulario)
        }

        return (
            <div className="px-20">
                <h2 className="text-center font-bold text-xl my-6">Registro de Producto</h2>                
                <Form onFinish={guardarFormulario} layout="vertical">                    
                    <Item name="codigo" label="Codigo" 
                        rules={
                            [{required: true, message:"Ingrese codigo"}                            
                        ]}
                    >
                            <Input type="text" />
                    </Item>
                    <Item name="nombre" label="Nombre" 
                        rules={[
                            {required: true, message:"Ingrese el nombre del producto"}                            
                        ]}
                    >
                        <Input type="text" />
                    </Item>
                    <Item name="presentacion" label="Presentacion" 
                        rules={[
                            {required: true, message:"Ingrese tipo de presentacion"}                            
                        ]}
                    >
                        <Input type="text" />
                    </Item>
                    <Item name="costo" label="Costo" 
                        rules={[
                            {required: true, message:"Ingrese el costo del producto"}                            
                        ]}
                    >
                        <Input type="number" />
                    </Item>
                    <Item name="precio" label="Precio" 
                        rules={[
                            {required: true, message:"Ingrese el precio del producto"}
                            ]}
                        >
                        <Input type="number"/>
                    </Item>
                    <Item>
                        <Button>Reset</Button>
                        <Button className="bg-blue-500 text-white" htmlType="submit">Guardar</Button>                        
                    </Item>
                </Form>

            </div>
        )
    }

//<script>