<script type="text/jsx">

    //Constantes globales de react router react-dom

    const Link = ReactRouterDOM.Link;
    const NavLink = ReactRouterDOM.NavLink;
    const Redirect = ReactRouterDOM.Redirect;
    const Router = ReactRouterDOM.BrowserRouter;
    const Route = ReactRouterDOM.Route;
    const Switch = ReactRouterDOM.Switch;

    //Constantes globales de react 

    const useState = React.useState;
    const useEffect = React.useEffect;
    const useRef = React.useRef;

    // constantes globales ant design
    const Button = antd.Button;
    const Checkbox = antd.Checkbox;
    const Drawer = antd.Drawer;
    const Form = antd.Form;
    const Input = antd.Input;
    const Item = antd.Form.Item;
    const Modal = antd.Modal;
    const notification = antd.notification;
    const Option = antd.Select.Option;
    const Popover = antd.Popover;
    const Select = antd.Select;
    const Space = antd.Space;
    const Spin = antd.Spin;
    const Steps = antd.Steps;
    const Step = antd.Steps.Step;
    const Table = antd.Table;
    const Tag = antd.Tag;
    const TextArea = antd.Input.TextArea;
    // iconos ant design
    const SearchOutlined = icons.SearchOutlined;
    const LoadingOutlined = icons.LoadingOutlined;
</script>